*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html,body{
    height: 100%;
    width: 100%;
    background-color: #002339;
    color: #fff;
    overflow-x: hidden;
}

#main{
 /*   margin: 12%; */
 margin: 15%;
   width: calc( 100% - 30%);
   max-width: 700px;
}

.display img{
    height: 30px;
    width: 30px;
    cursor: pointer;
}
.display{
    width: 100%;
    margin-top: 50px;
    margin-bottom: 30px;
    background: #fff;
    color: #333;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 26px 20px;
    border-radius: 5px;
}

#main h1 span{
    color: #019f55;
    border-bottom: 4px solid #019f55;
    padding-bottom: 7px;
}

.display input{
    border: 0;
    outline: 0;
    font-size: 24px;
}

#main button img{
    width: 28px;
    margin-right: 10px;
}

#main button {
    border: 0;
    outline: 0;
    background: #019f55;
    color: #fff;
    font-size: 22px ;
    font-weight: 300;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 16px 26px;
    cursor: pointer;
}
